.contenedor-barra {
  height: 150px;
  margin: 10px 10px 50ps;
  display: flex;
  align-items: right;
  justify-content: center;
  background-color: green;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  border-radius: 25px;
  margin-bottom: 30px;
}

.contenedor-opciones {
  width: 1000px;
  height: 150px;
  margin: 10px 10px 50ps;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenedor-texto {
  text-align: center;
  color: white;
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.NomApp {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.contenedor-logo {
  height: 150px;
  width: 170px;
  padding: 40;
  background-color: goldenrod;
  border-radius: 25px;
}

.contenedor-opcion {
  align-items: center;
  width: 120px;
  height: 50px;
  color: black;
  border-radius: 10px;
  border-color: black;
  background-color: cadetblue;
}
