.contenedor-menu{
    width: 259px;
    height: 905px;
    margin: 10px 10px 50ps;
    align-items: center;
    justify-content: center;
    background-color: gray;

}
.contenedor-menu-foto{
    align-items: center;

}
.foto-perfil{
     height: auto;
    width: 100%;
}

.contenedor-menu-user{
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-weight: 200;
}
.contenedor-menu-opciones{
    align-items: center;
    justify-content: center;
    color:aquamarine;
}
.CerrarSesion{
    color:red;
}


