table{
    justify-content: center;
    align-items: center;
    
}

.tabla-jardin {
    border-color:aquamarine;
}

thead {
    background-color: green;
    color: white;
}
.tbody {
    background-color:  gray;
    color: dimgray
}
th{
    font-size: 20px;
}
button{
    font-size: small;
}