.contenedor-publicacion {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50ps;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  }
  
  .imagen-planta {
    height: 100%;
    width: auto;
  }
  
  .contenedor-texto-planta {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;;
  }
  
  .nombre-planta {
    font-size: 1.3rem;
  }
  
  .texto-planta {
    font-size: 1.1rem;
    text-align: justify;
  }

  button {
    width: 100px;
    height: 50px;
    font-size: 35px;
    font-family: Robot, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
      cursor: pointer;
  }
  
  button:hover {
    background-color: #00471b;
  }
  
  .boton-clic {
    background-color: #002ead;
  }
  
  .boton-reiniciar {
    background-color: #5a01a7;
  }