.App{
  display: flex;
  flex-wrap: wrap;
  align-items:first baseline;
  justify-content: center;
  text-align: center;
}
.Contenido{
    justify-content: center;
    align-items: left;
}
.Menu{
    justify-content: right;

}
